@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <style type="text/css" media="all">
        pre {
            word-wrap: break-word; /* Internet Explorer 5.5+ */
            font-family: 'Courier New';
            font-size: 6px;
            -webkit-transform-origin-x: 0;
            -webkit-transform-origin-y: 0;
        }
    </style>
</head>
<body>
    <pre>@ViewData["Result"]</pre>
</body>
</html>